<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Employee Table</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 roles-table" style="height: 100vh">
            <table class="table">
              <thead>
                <tr>
                  <th>ID No</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>City</th>
                  <th>Job Title</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                @for (employee of paginatedEmployees; track employee.id) {
                <tr>
                  <td>{{ employee.id }}</td>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.company }}</td>
                  <td>{{ employee.city }}</td>
                  <td>{{ employee.job }}</td>
                  <td>{{ employee.salary }}</td>
                </tr>
                }
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="allEmployees.length"
                [(page)]="currentPageNumber"
                [pageSize]="employeesPerPage"
                (pageChange)="
                  getPaginatedEmployees(currentPageNumber, employeesPerPage)
                "
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                aria-label="Default pagination"
              />
              <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="employeesPerPage"
              (ngModelChange)="
                getPaginatedEmployees(currentPageNumber, employeesPerPage)
              "
            >
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
              <option [ngValue]="14">14 items per page</option>
            </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">Add Employee</div>
      <div class="card-body">
        <app-employee-form
          (formSubmit)="addEmployee($event)"
        ></app-employee-form>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header bg-success">Actions</div>
      <div class="card-body">
        <h5>Delete Employee</h5>
        <input
          type="text"
          class="form-control"
          placeholder="Enter ID"
          [(ngModel)]="employeeIdToDelete"
          (keydown.enter)="deleteEmployee(employeeIdToDelete)"
        />
        <button
          type="button"
          class="btn btn-danger mt-3"
          [disabled]="!employeeIdToDelete"
          (click)="deleteEmployee(employeeIdToDelete)"
        >
          Delete
        </button>
      </div>
      <div class="card-body">
        <h5>Update Employee</h5>
        <form (ngSubmit)="getEmployeeByIdForUpdate(employeeIdToUpdate)">
          <input
            type="text"
            class="form-control"
            placeholder="Enter ID"
            [(ngModel)]="employeeIdToUpdate"
            name="employeeIdToUpdate"
          />
          <button
            [disabled]="!employeeIdToUpdate"
            type="submit"
            class="btn btn-info mt-3"
          >
            Find Employee
          </button>
        </form>
        <app-employee-form
          [hidden]="!showUpdateEmployee"
          (formSubmit)="updateEmployee($event, employeeIdToUpdate)"
          [employeeToUpdate]="employeeToUpdate"
        ></app-employee-form>
      </div>
    </div>
  </div>
</div>
