<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Employee Table</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 roles-table" style="height: 100vh">
            <table class="table">
              <thead>
                <tr>
                  <th>ID No</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>City</th>
                  <th>Job Title</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                @for (employee of allEmployees; track employee.id) {
                <tr>
                  <td>{{ employee.id }}</td>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.company }}</td>
                  <td>{{ employee.city }}</td>
                  <td>{{ employee.job }}</td>
                  <td>{{ employee.salary }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">Add Employee</div>
      <div class="card-body">
        <app-employee-form (formSubmit)="addEmployee($event)"></app-employee-form>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header bg-success"> Actions </div>
        <div class="card-body">
          <h5>Delete Employee</h5>
          <input type="text" class="form-control" placeholder="Enter ID" [(ngModel)]="employeeIdToDelete" (keydown.enter)="deleteEmployee(employeeIdToDelete)">
          <button type="button" class="btn btn-danger mt-3" [disabled]="employeeIdToDelete == ''" (click)="deleteEmployee(employeeIdToDelete)">Delete</button>
        </div>
        <!-- <div class="card-body">
          <h5>Update Employee</h5>
          <input type="text" class="form-control" placeholder="Enter ID" [(ngModel)]="employeeIdToUpdate">
          <button type="button" class="btn btn-input mt-3" (click)="updateEmployee(employeeIdToUpdate)"></button>
        </div> -->
    </div>
  </div>
</div>
