<div class="top-container">
  <h2 class="mx-3 title">Welcome to the dashboard</h2>
  <app-employee-birthday [employees]="employees"></app-employee-birthday>
</div>
<div class="charts">
    <div class="chart-container">
        <canvas height="300px" id="companyDistribution"></canvas>
    </div>
    <div class="chart-container">
        <canvas height="300px" id="jobDistribution"></canvas>
    </div>
    <div class="chart-container">
        <canvas height="300px" id="ageDistribution"></canvas>
    </div>
</div>

<div class="charts">
  <div class="chart-container mt-4">
    <canvas height="600px" id="salaryDistribution"></canvas>
  </div>
  <div class="chart-container mt-4">
    <canvas height="600px" id="salaryByCompanyDistribution"></canvas>
  </div>
</div>

