.charts {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.chart-container {
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .chart {
    height: 300px;
}
