  <div class="external">
    <div [hidden]="!isLoading" class="spinner-border text-info m-5"></div>
    @for (j of jobList ; track j.id; let i = $index;) {
    <div class="card">
      <div>
        <img class="cardImage" src="{{j.imageUrl}}" alt="Card image" />
      </div>
      <div class="card-body">
        <h2 class="card-title">{{ j.job }}</h2>
        <button
        type="button"
        class="btn ms-2"
        (click)="isCollapsed[i] = !isCollapsed[i]"
        [attr.aria-expanded]="!isCollapsed[i]"
        aria-controls="collapseExample"
      >
        Learn more
      </button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed[i]">
        <p class="card-text">{{j.shortDescription}}</p>
      </div>
      </div>
    </div>
    }
  </div>


