<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Client List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 roles-table" style="height: 100vh">
            <table class="table">
              <thead>
                <tr>
                  <th>ID No</th>
                  <th>Company Name</th>
                  <th>Person Name</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                @for (client of allClients; track client.clientId) {
                <tr>
                  <td>{{ client.clientId }}</td>
                  <td>{{ client.companyName }}</td>
                  <td>{{ client.contactPersonName }}</td>
                  <td>{{ client.city }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client</div>
      <div class="card-body">
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <label for="contactPersonName">Person Name</label>
              <input
                type="text"
                id="contactPersonName"
                formControlName="contactPersonName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="companyName">Company Name</label>
              <input
                type="text"
                id="companyName"
                formControlName="companyName"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="address">Address</label>
              <input
                type="text"
                id="address"
                formControlName="address"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="city">City</label>
              <input
                type="text"
                id="city"
                formControlName="city"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="pincode">Pincode</label>
              <input
                type="text"
                id="pincode"
                formControlName="pincode"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="state">State</label>
              <input
                type="text"
                id="state"
                formControlName="state"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="EmployeeStrength">Employee Strength</label>
              <input
                type="number"
                id="EmployeeStrength"
                formControlName="EmployeeStrength"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="gstNo">GST No</label>
              <input
                type="text"
                id="gstNo"
                formControlName="gstNo"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="contactNo">Contact No</label>
              <input
                type="text"
                id="contactNo"
                formControlName="contactNo"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="regNo">Reg No</label>
              <input
                type="text"
                id="regNo"
                formControlName="regNo"
                class="form-control"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-success mt-3" [disabled]="!clientForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
